/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
}
#bar {
    display: none;
}

nav ul li {
    display: inline;
    border: 1px solid white;
    padding: 30px;
    font-size: 2em;
}
nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.5em;
    
}
img#logo {
    height: 50px;
    width: 80px;
    position: fixed;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.432);

}
nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: white;
    height: 75px;
    align-items: center;

}
body {
    background-color: #f7f7f7;
    margin: 0%;
}
main {
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px 125px;
    padding: 0px 110px;
}
figure {
    margin: 0%;
    display: inline-block;
    display: flex;
    flex-direction:row; 
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    padding-bottom: 20px;

}
figure div {
    display: inline;
    margin: 5px;
}
div#book-description {
    margin: 0%;
}
div#book-description h3 {
    letter-spacing:0.2em;
    font-weight: bolder;
    margin-top: 0%;
    font-size: 1.3em;
}
div#book-description p {
    border-top:3px solid rgba(128, 128, 128, 0.39);
    font-size: 1.2em;

}
div#book-description article{
    color:grey;
    font-weight: bold;
    border: none;
}
div#book-description span{
    margin: 25px 0px;
    display: block;
}
div#book-description span#price{
    margin-left: 140px;

}

figure img {
    height: 400px;
    width: 250px;
    border-left: 4px solid rgba(128, 128, 128, 0.39);
    border-right: 4px solid rgba(128, 128, 128, 0.39);
    margin-right: 20px;


}
span#rating-stars {
    color: #f7b733;
    font-size: 1.5em;

}
span#price {
    color: #b12703;
    font-weight: bold;

}
button {
    background-color: #f2849e;
    border: none;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
    padding: 0.8em 1.5em;

}
button:hover {
    background-color:#ed4b74;
}
div#availability {
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);

}
div#details{
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
div#details ul li {
    list-style-type: none;  
    margin: 8px 0px;  
}
div#details ul {
    padding: 0px;
}
article {
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    
}
